Source: mundus
Section: contrib/admin
Priority: optional
Maintainer: Igor Calì <igor.cali0@gmail.com>
Build-Depends: debhelper (>= 12),
  gambas3-devel (>= 3.15.1),
  gambas3-gb-image (>= 3.6.0),
  gambas3-gb-qt5 (>= 3.15.1),
  gambas3-gb-form (>= 3.6.0),
  gambas3-gb-desktop (>= 3.6.0),
  gambas3-gb-desktop-x11 (>= 3.6.0),
  gambas3-gb-settings (>= 3.6.0)
Standards-Version: 3.9.2
Homepage: http://sebikul.github.io/mundus/


Package: mundus
Architecture: any
Depends: gambas3-runtime (>= 3.6.0),
  gambas3-gb-image (>= 3.6.0),
  gambas3-gb-qt5 (>= 3.15.1),
  gambas3-gb-form (>= 3.6.0),
  gambas3-gb-desktop (>= 3.6.0),
  gambas3-gb-desktop-x11 (>= 3.6.0),
  gambas3-gb-settings (>= 3.6.0)
Description: Clean your home folder from old configuration files
 Clean and backup your /home folder from old
 configuration files created by now uninstalled software.
